*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json
app/src/main/res/drawable/volcano_hawaii_12_22_17.png
